@use "./variables" as *;

.component-container {
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: radial-gradient(ellipse at top, $darkBlue, transparent);
    width: 400px;
    height: 400px;
    border-radius: 25px;
    padding: 35px;
    .star-img {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $mediumGrey;
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    li {
        color: $lightGrey;
        background: $mediumGrey;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: $transition;
    }
    li:hover {
        background-color: $darkBlue;
        color: $primary;
    }
    li:focus {
        background-color: $darkBlue;
        color: $primary;
    }

    button {
        background: $primary;
        border: none;
        border-radius: 50px;
        height: 40px;
        color: $white;
        font-size: 0.75rem;
        cursor: pointer;
        transition: $transition;
    }
    button:hover {
        background-color: $darkBlue;
        color: $primary;
    }
    button:focus {
        background-color: $darkBlue;
        color: $primary;
    }
}
.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(ellipse at top, $darkBlue, transparent);
    width: 400px;
    height: 400px;
    border-radius: 25px;
    padding: 35px;
    .selected-rating {
        background: $mediumGrey;
        height: 30px;
        border-radius: 50px;
    }
    p {
        text-align: center;
    }
}