@use "./variables" as *;

.component-container {
    display: flex;
    // display: none;
    flex-direction: column;
    justify-content: space-between;
    background: radial-gradient(ellipse at top, $darkBlue, transparent);
    width: 400px;
    height: 400px;
    border-radius: 25px;
    padding: 35px;
    .star-img {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $mediumGrey;
        border-radius: 50%;
        height: 45px;
        width: 45px;
    }

    .number-rating {
        display: flex;
        justify-content: space-between;
        label {
            background: $mediumGrey;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 3px;
            color: $white;
            input {
                appearance: none;
            }
        }
        label:hover {
            background: $lightGrey;
        }
        label:focus {
            background: $lightGrey;
        }
    }

    button {
        background: $primary;
        border: none;
        border-radius: 50px;
        height: 40px;
        color: $white;
        font-size: 0.75rem;
        cursor: pointer;
        transition: $transition;
    }
    button:hover {
        background-color: $white;
        color: $primary;
    }
    button:focus {
        background-color: $white;
        color: $primary;
    }
}
.thank-you {
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(ellipse at top, $darkBlue, transparent);
    width: 400px;
    height: 400px;
    border-radius: 25px;
    padding: 35px;
    .selected-rating {
        background: $mediumGrey;
        height: 30px;
        border-radius: 50px;
    }
    p {
        text-align: center;
    }
}