@use "./variables" as *;

// Overpass Google Font

$overPass:'Overpass', sans-serif;

h3 {
    color: $white;
    font-size: 1.75rem;
    margin: 0;
}

p {
    color: $lightGrey;
    font-size: 0.8rem;
    margin: 0;
}