// Colours
$primary: hsl(25, 97%, 53%);

// Neutral Colours
$white: hsl(0,0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: hsl(217, 10%, 25%);
$darkBlue: hsl(213, 19%, 18%);
$veryDarkBlue: hsl(216, 12%, 8%);

// Transitions
$transition: 0.3s ease-in-out;